{
  "extends": "eslint-config-egg",
  "rules": {
    "linebreak-style":"off",
    "semi":"off",
    "quotes":"off",
    "no-debugger":"off",
    "arrow-parens":"off",
    "comma-dangle":"off",
    "eol-last":"off"
  }
}
